**/target
**/Cargo.lock
# Keep lockfiles for the example binaries so their builds are reproducible
!examples/*/Cargo.lock
pkg

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
